langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.68
langchain-ollama==0.3.3
langchain-text-splitters==0.3.8
langgraph==0.5.1
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
langsmith==0.4.4
numpy==2.3.1
ollama==0.5.1
pandas==2.3.1
polars==1.31.0
requests==2.32.4